.cardview {
  height: 200px;
  width: 100px;
  background: teal;

  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  div {
    display: flex;
    justify-content: end;
    gap: 5%;
    padding: 0.5dvw;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
